@charset "utf-8";
/*css Documento*/

header {
	/*width: 100%*/
	background-color: #434046;
}

div.logo {
	background-color: #178805;
}

div.logo img {
	width: 70%;
}

nav.menu {
	width: 100%;
	background-color: #ff6000;
}

nav.nemu ul {
	width: 1200px;
	margin: 0 auto;
}
/*tremina header*/


/*inicia section*/
#conteudos {
	background-color: #6D6A6A;
}

div.conteudo1 {
	width: 1200px;
	margin: 0 auto;
}

h1 {
	color: #064A06;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 2em;
}