@charset "utf-8";
/*css Documento*/

header {
	background-color: #505450;
}

#logo {
	background-color: #098E06;
}

#menu {
	background-color: #098E06;
}

#conteudos {
	background-color: #BB1515;
}

footer {
	background-color: #08540A;
}


/* 

*/ 